header{
  background-color: forestgreen;
}


/* CSSTerm.com Simple CSS menu */

br { clear:left }

.the_menu {
    width: 100%;
    background-color: forestgreen;
    text-align: center;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
}

.the_menu ul {
    margin: 0; padding: 0;
    float: left;
    text-align: center;
}

.the_menu ul li {
    display: inline;
}

.the_menu ul li a {
    float: left; 
    text-decoration: none;
    color: white; 
    padding: 10.5px 11px;
    background-color: forestgreen;
}
 
.the_menu ul li a:visited {
    color: white;
}
 
.the_menu ul li a:hover, .the_menu ul li .current {
    color: white;
    background-color: black;
}

hr    {
  height: 1px;
  background-color: rgb(65, 56, 56);
  border: none;
}

a:link, a:visited, a:active {
  color:rgb(15, 161, 163) ;
  background-color: transparent;
  text-decoration: underline;
  font-size: 20px;
}

button {
  background-color: green; color: white; 
  font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

body  {
  background-color: black;
  color: white;
  font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
}


main    {
  background-color: black;
  color: white;
}

h1    {
  color: white;
  font-size: 48px; 
  text-align: center;
  font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
}

h2    {
  font-size: 28px;
}

h3    {
  font-size: 22px;
}


img   {
  width: 180px; 
  height: 100px; 
  display: block; 
  margin: auto;
}

p     {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  margin: auto;
}

table {
  text-align: center;
  margin-right: auto;
  margin-left: auto;


}

tr:nth-child(even) {
  background-color: darkgrey;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: grey; 
  background-size: auto;
  text-align: left;
} 